body{
    background-image: linear-gradient(100deg,#3F5EFB, #E100FF);
    font-family: monospace;
}

.container{
    background-color:  rgba(255,255,255,0.25);
    height: auto;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    font-family: monospace;
    color: white; 
} 

.qna{
    background-color:  rgba(255,255,255,0.25);
    height: auto;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    font-family: monospace;
    font-size: 1.5em;
    color: white; 
} 

#asktag{
        font-size: 1.6em;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
/*    border-radius: 10px;*/
}

#txt{
        color: dimgray;
    font-size: 1.5em;
}

  .form-group
  {
	margin-bottom:5%;
	margin-top:5%;
  }

  #message
  {
	  color:red;
	  margin-top:2%;
	  font-size:1.4vw;
  }

  #content
  {
	  overflow:auto;
  }

  .mynav
  {
	  margin-bottom:10%;
  }


.b{
    border: none;
    background: linear-gradient(135deg,#3F5EFB, #E100FF);
    color: white;
}

.b:hover {
   box-shadow: 0px 10px 20px 0 rgba(0,0,0,0.2);
   color: white;
}

.ans{
    background-color:  rgba(255,255,255,0.25);
    height: auto;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    font-family: monospace;
    font-size: 1.3em;
    color: white; 
} 

