* {
    margin: 0;
    padding: 0;
}
body {
    font: 100%/1.5 Arial;
  background:rgb(10,10,10) !important;
  color:rgb(235,236,238) !important;
}


.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
    background:rgb(255,255,255);
}
.parallax__group {
    height: 260px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease 0s;
    z-index:100;
	background-color:red;
    height:70%;
}

.parallax__layer--base {
    
    z-index: 4;
}
.parallax__layer--back {
    transform: translateZ(-300px) scale(2);
    z-index: 3;
    height:100%;
}
body, html {
    overflow: hidden;
}
.parallax {
    font-size: 100%;
}
img.codepen_image {
	width:100%;
	height:100%;
}
#group1 {
    z-index: 3;
    height:70%;
}

