
        .con{
            background-color:  rgba(255,255,255,0.25);
            height: auto;
            width: 100%;
            padding: 15px;
            border-radius: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: 700px;
            min-width: 540px;
        } 

        .box{
/*            background-color: white;*/
            opacity:1;
            border-radius: 10px;
            /* padding: 10px; */
        }


        body{
            background-image: linear-gradient(95deg,#3F5EFB, #E100FF);
            font-family: monospace;
             color: #aaa;


        }

       .bar
       {
           height:35px;
           width:100%;
           background-image:-webkit-linear-gradient(blue,blue);

       }

h3,h4{
    font-size: 1.8em;
     text-align: center;
    text-transform:capitalize ;
    margin-top:10px;
    color: white
}

.act{
    border-radius: 5px;
    color: #aaa;
    margin: -2px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2),0px -5px 20px rgba(0,0,0,0.05);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
   /* padding-left: -100px;
    padding-right: -100px;*/

}
      
